dataset:
  file: {{ config_dataset_file }}
  max_input_tokens: {{ config_dataset_max_input_tokens }}
  max_output_tokens: {{ config_dataset_max_output_tokens }}
  max_queries: {{ config_dataset_max_queries }}
  max_sequence_tokens: {{ config_dataset_max_sequence_tokens }}
  min_input_tokens: {{ config_dataset_min_input_tokens }}
  min_output_tokens: {{ config_dataset_min_output_tokens }}
extra_metadata:
  replicas: {{ config_extra_metadata_replicas }}
load_options:
  concurrency: {{ config_load_options_concurrency }}
  duration: {{ config_load_options_duration }}
  type: {{ config_load_options_type }}
output:
  dir: {{ config_output_dir }}
  file: {{ config_output_file }}
  format: {{ config_output_format }}
plugin: {{ config_plugin }}
plugin_options:
  endpoint: {{ config_plugin_options_endpoint }}
  host: {{ config_plugin_options_host }}
  model_name: {{ config_plugin_options_model_name }}
  streaming: {{ config_plugin_options_streaming }}
  use_tls: {{ config_plugin_options_use_tls }}
storage:
  type: {{ config_storage_type }}
